.service-card {
    background: #fff;
  }
.service-card2 {
    background: #F1F2FA;
  }

  .gap-30{
    gap:30px
  }

  .card {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  